In [1]:
import pandas as pd
from pandas import Series,DataFrame
import numpy as np
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [25]:
df = pd.read_csv('athlete_events.csv', dtype=unicode)
print len(df)
df.head()

271116

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24,180,80,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23,170,60,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21,185,82,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [37]:
df.dropna(subset = ['Age','Height','Weight'],inplace=True)
df['Age'] = df['Age'].astype(float)
df['Height'] = df['Height'].astype(float)
df['Weight'] = df['Weight'].astype(float)
df['Year'] = df['Year'].astype(int)
len(df)

206165

In [43]:
def periodSplit(y):
    if (y < 1926):
        period = '1early'
    elif (y < 1956):
        period = '2mid_early'
    elif ( y < 1986):
        period = '3early_modern'
    else:
        period = '4modern'
        
    return period

df['Period'] = df['Year'].map(periodSplit)

df.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,Period
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,4modern
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN,4modern
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN,4modern
5,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",NaN,4modern
6,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN,4modern

In [44]:
country_period = df.groupby(['NOC','Period'])['Age','Height','Weight'].mean()

country_period.head()

                         Age      Height     Weight
NOC Period
AFG 3early_modern  23.837838  169.216216  66.837838
    4modern        22.764706  173.588235  64.529412
AHO 3early_modern  25.481481  174.407407  72.888889
    4modern        27.916667  180.541667  79.875000
ALB 4modern        25.175439  173.000000  71.192982

In [47]:
country_stats = country_period.unstack()
country_stats.dropna()

              Age                                          Height              \
Period     1early 2mid_early 3early_modern    4modern      1early  2mid_early
NOC
ARG     23.571429  25.504762     26.063750  26.293846  183.428571  173.304762
AUS     29.296296  23.462687     23.909662  25.667565  173.888889  179.641791
AUT     24.461538  25.512195     25.111111  26.838336  178.692308  172.268293
BEL     28.160000  29.362069     24.307018  26.025375  177.480000  176.637931
BRA     25.000000  23.212121     23.942899  25.981346  181.000000  178.606061
BUL     25.000000  19.684211     23.884486  24.346952  172.000000  166.210526
CAN     23.947368  22.826667     23.232186  25.724144  174.526316  175.166667
CHI     25.500000  23.326087     25.386861  26.164634  169.500000  178.565217
CUB     29.000000  25.038462     22.699106  25.622449  155.000000  172.230769
DEN     23.000000  27.115385     25.850904  26.649209  171.000000  174.807692
ESP     23.300000  32.533333     23.853434  25.722204  176.200000  172.400000
FIN     26.952756  26.407194     25.769593  26.138841  176.248031  173.893525
FRA     24.574586  25.329231     24.543155  25.823293  173.651934  176.000000
GBR     27.428571  24.735849     24.501309  26.094295  175.955665  172.958491
GER     23.510638  24.912727     24.472608  26.367826  176.432624  174.734545
GRE     23.625000  25.000000     24.739011  25.122635  182.468750  177.218750
HAI     20.500000  25.800000     23.954545  26.475000  171.000000  169.600000
HUN     21.636364  25.944785     24.374470  24.888133  179.590909  177.312883
ITA     22.906250  25.416107     24.303807  26.183632  175.781250  174.758389
JPN     24.375000  23.563758     23.919941  24.807684  166.875000  166.892617
LUX     20.500000  23.725806     27.502646  26.528846  180.500000  173.193548
NED     22.181818  25.859649     23.347211  26.265854  173.636364  178.105263
NOR     23.371429  27.666667     24.699812  26.492149  175.957143  178.897436
NZL     21.333333  23.722222     24.774775  26.643695  165.333333  175.444444
POL     26.694915  26.338174     24.666931  25.606311  173.661017  171.186722
RSA     27.750000  24.944444     25.662791  24.949299  176.200000  179.250000
SUI     23.500000  26.885057     25.483112  26.426829  178.333333  174.057471
SWE     24.683824  26.251185     24.921830  26.678375  178.669118  179.900474
TCH     22.000000  24.252033     24.411186  23.989114  176.312500  175.000000
TUR     16.000000  24.250000     25.555556  24.763200  173.000000  172.875000
URU     22.000000  23.086957     22.977778  25.519685  174.833333  176.000000
USA     24.046572  24.301837     23.740781  26.076458  178.697283  178.914698
YUG     24.666667  24.518072     24.157974  23.761702  190.000000  175.819277

                                     Weight                           \
Period 3early_modern     4modern     1early 2mid_early 3early_modern
NOC
ARG       175.738750  177.573077  78.000000  71.333333     73.401250
AUS       176.169082  177.197082  67.851852  72.746269     71.208696
AUT       176.117745  178.372828  83.692308  68.756098     73.236318
BEL       175.535088  176.641292  77.040000  73.034483     70.609023
BRA       179.598829  177.165856  70.000000  71.909091     74.775988
BUL       172.355944  173.514401  66.000000  62.552632     68.674278
CAN       174.790633  175.016920  73.649123  67.610000     69.550841
CHI       173.043796  174.990854  67.000000  71.369565     69.846715
CUB       173.596822  176.115646  43.000000  73.115385     70.883813
DEN       178.844880  180.511858  65.000000  69.230769     73.697289
ESP       174.618928  174.979173  72.400000  75.466667     70.546064
FIN       175.822039  176.388411  73.452756  68.428058     71.525633
FRA       174.186271  175.921285  71.745856  72.932308     68.976114
GBR       174.678665  176.647808  72.886700  66.320755     69.425720
GER       174.442355  178.152393  71.879433  69.981818     70.607522
GRE       176.557692  176.733006  87.187500  70.718750     75.906593
HAI       171.090909  176.500000  63.500000  61.200000     66.045455
HUN       173.888366  177.463632  72.659091  73.177914     69.532501
ITA       174.765548  175.937282  70.437500  71.785235     70.677535
JPN       167.633492  168.658780  63.125000  60.281879     63.563716
LUX       172.566138  176.894231  84.000000  71.185484     69.629630
NED       178.075770  180.308537  64.909091  71.491228     72.607827
NOR       178.148218  178.187872  72.042857  75.910256     72.330206
NZL       177.625225  178.013930  63.000000  66.722222     73.927928
POL       173.419802  177.810669  69.949153  68.178423     69.700396
RSA       178.546512  177.638619  65.500000  71.472222     75.441860
SUI       174.235223  175.915896  69.666667  69.551724     69.961399
SWE       177.407531  178.265642  73.996324  73.777251     71.643232
TCH       174.024858  177.455677  71.000000  74.650407     71.095805
TUR       173.751852  173.896000  71.000000  72.250000     70.707407
URU       174.861111  178.118110  75.000000  74.043478     73.133333
USA       176.839407  176.691206  73.447607  73.181759     71.702815
YUG       178.210128  182.008511  90.000000  71.783133     75.108844


Period    4modern
NOC
ARG     74.503846
AUS     72.893603
AUT     73.934702
BEL     69.348328
BRA     71.934307
BUL     68.812793
CAN     71.069962
CHI     72.176829
CUB     74.755952
DEN     74.015810
ESP     69.337872
FIN     71.512048
FRA     69.619478
GBR     71.877652
GER     72.886633
GRE     72.283462
HAI     76.050000
HUN     73.405785
ITA     71.019432
JPN     63.263295
LUX     69.461538
NED     74.056911
NOR     73.035734
NZL     74.583578
POL     73.051653
RSA     72.474649
SUI     71.152229
SWE     74.066959
TCH     72.855365
TUR     70.320000
URU     73.968504
USA     73.040082
YUG     76.425532




# Not yet critical for us to use.

Split the country stats into winter/summer m/f subsets.

In [52]:
df_MS = df[(df['Sex'] == 'M') & (df['Season'] == 'Summer')]
MS_stats = df_MS.groupby(['NOC','Period'])['Age','Height','Weight'].mean().unstack()
MS_stats.dropna()

              Age                                          Height              \
Period     1early 2mid_early 3early_modern    4modern      1early  2mid_early
NOC
ARG     23.571429  25.833333     27.160237  26.953012  183.428571  174.877778
AUS     29.296296  23.901961     25.082219  26.338203  173.888889  182.745098
AUT     24.461538  25.000000     26.620751  27.996241  178.692308  176.904762
BEL     28.416667  29.211538     25.467200  27.224409  177.041667  176.038462
BRA     25.000000  23.571429     24.270799  26.447678  181.000000  180.285714
BUL     25.000000  21.764706     24.665335  24.801120  172.000000  173.058824
CAN     23.886792  23.229358     25.098127  26.496815  174.509434  177.247706
CHI     25.500000  23.842105     27.533333  27.403141  169.500000  179.894737
CUB     29.000000  25.038462     22.917955  25.840153  155.000000  172.230769
DEN     23.000000  28.272727     26.130662  27.222022  171.000000  176.136364
ESP     23.300000  32.533333     24.694362  26.667025  176.200000  172.400000
FIN     26.673640  27.401606     26.321318  26.885986  176.702929  175.708835
FRA     24.605556  25.441696     25.353565  26.855448  173.727778  177.007067
GBR     27.428571  26.445087     25.615996  26.725227  175.955665  176.456647
GER     23.510638  25.542289     25.332026  26.856960  176.432624  177.432836
GRE     23.625000  25.000000     25.397394  26.091613  182.468750  177.218750
HAI     20.500000  25.800000     24.888889  27.451613  171.000000  169.600000
HUN     21.150000  26.366197     25.346309  25.880989  180.150000  179.394366
ITA     22.906250  26.141791     25.169336  26.782868  175.781250  176.067164
JPN     24.375000  23.745283     24.875732  25.572585  166.875000  167.547170
LUX     20.500000  23.857143     27.952941  25.519231  180.500000  173.193277
NED     22.181818  24.921053     24.628615  27.066667  173.636364  179.447368
NOR     23.550725  28.000000     25.931818  27.118280  176.260870  180.692308
NZL     21.333333  23.866667     25.896135  27.423545  165.333333  175.333333
POL     27.673469  27.408360     25.492386  26.214562  173.836735  173.192926
RSA     27.750000  26.370370     26.112500  24.910499  176.200000  182.703704
SUI     23.500000  27.126582     26.633789  27.266932  178.333333  173.759494
SWE     24.683824  26.528205     26.214158  27.621924  178.669118  180.517949
TCH     22.133333  24.723404     25.562500  25.269103  176.400000  177.255319
TUR     16.000000  24.250000     26.601852  25.217033  173.000000  172.875000
URU     22.000000  23.090909     24.900000  25.712963  174.833333  176.636364
USA     24.039216  24.886667     24.869748  26.680075  178.788235  181.300000
YUG     24.666667  25.375000     24.774403  24.166667  190.000000  178.375000

                                     Weight                           \
Period 3early_modern     4modern     1early 2mid_early 3early_modern
NOC
ARG       176.758160  182.333735  78.000000  73.188889     75.133531
AUS       179.479278  183.776892  67.851852  76.980392     75.329545
AUT       178.615385  182.278195  83.692308  71.000000     76.150268
BEL       177.956800  181.492126  75.708333  72.096154     73.944000
BRA       180.817292  182.735967  70.000000  73.071429     76.631321
BUL       175.239760  177.035014  66.000000  71.470588     72.806194
CAN       179.856180  181.302258  73.490566  69.628440     75.909363
CHI       174.055556  178.607330  67.000000  73.631579     70.322222
CUB       175.195006  178.768542  43.000000  73.115385     73.168847
DEN       180.228223  185.010830  65.000000  71.727273     75.562718
ESP       176.740851  180.063910  72.400000  75.466667     73.531157
FIN       177.914521  182.109264  73.845188  70.722892     74.137487
FRA       176.820860  181.343146  71.894444  74.558304     72.412198
GBR       178.598517  182.667305  72.886700  69.468208     73.823093
GER       177.347712  183.791204  71.879433  73.194030     74.305882
GRE       176.996743  182.819355  87.187500  70.718750     76.960912
HAI       172.833333  179.741935  63.500000  61.200000     66.944444
HUN       176.932886  182.884853  73.325000  75.436620     74.013758
ITA       177.472540  181.249656  70.437500  73.485075     74.458524
JPN       170.692258  174.003778  63.125000  59.933962     66.926480
LUX       173.770588  184.307692  84.000000  71.537815     71.000000
NED       183.502283  186.079654  64.909091  72.894737     79.400304
NOR       181.297727  183.306452  72.434783  78.846154     77.038636
NZL       180.239130  183.397835  63.000000  67.066667     77.335749
POL       177.104695  183.381100  70.673469  70.196141     73.697018
RSA       179.750000  182.554217  65.500000  74.518519     76.500000
SUI       176.318359  179.394422  69.666667  70.063291     72.735352
SWE       181.125448  184.431767  73.996324  74.400000     76.056004
TCH       177.546196  182.478405  70.933333  77.500000     75.466486
TUR       174.685185  176.585165  71.000000  72.250000     71.805556
URU       178.221429  179.888889  75.000000  74.454545     77.200000
USA       181.229565  183.275959  73.488889  76.267500     77.183728
YUG       180.386117  184.956522  90.000000  74.906250     78.093275


Period    4modern
NOC
ARG     80.942169
AUS     81.670651
AUT     78.133459
BEL     75.653543
BRA     79.273042
BUL     75.525910
CAN     78.486103
CHI     75.879581
CUB     78.872123
DEN     80.068592
ESP     76.464286
FIN     81.480998
FRA     76.253515
GBR     79.097176
GER     80.928907
GRE     81.730968
HAI     79.645161
HUN     82.098918
ITA     78.152771
JPN     69.908257
LUX     74.653846
NED     81.751515
NOR     80.131720
NZL     81.098782
POL     81.340434
RSA     78.406196
SUI     74.601594
SWE     81.539150
TCH     80.857143
TUR     76.208791
URU     76.333333
USA     81.489710
YUG     81.369565

In [53]:
df_MW = df[(df['Sex'] == 'M') & (df['Season'] == 'Winter')]
MW_stats = df_MW.groupby(['NOC','Period'])['Age','Height','Weight'].mean().unstack()
MW_stats.dropna()

              Age                                          Height              \
Period     1early 2mid_early 3early_modern    4modern      1early  2mid_early
NOC
BEL     22.000000  30.666667     23.133333  25.813953  188.000000  181.833333
CAN     24.750000  23.363636     23.278571  25.773345  174.750000  177.545455
FIN     30.538462  26.419048     25.469345  25.735420  169.615385  173.790476
HUN     26.500000  22.000000     23.271186  24.859375  174.000000  168.000000
POL     21.900000  25.823529     24.434251  24.902813  172.800000  172.564706
TCH     20.000000  26.400000     24.498592  24.726562  175.000000  177.300000
USA     27.000000  24.743590     24.139319  26.012744  172.500000  177.256410

                                      Weight                           \
Period 3early_modern     4modern      1early 2mid_early 3early_modern
NOC
BEL       179.866667  178.511628  109.000000  81.166667     74.733333
CAN       177.960714  180.216682   75.750000  77.272727     75.996429
FIN       176.881607  179.931721   68.615385  68.247619     73.723044
HUN       175.898305  180.460938   66.000000  63.000000     72.966102
POL       173.553517  178.989770   66.400000  72.223529     72.562691
TCH       176.876056  179.062500   72.000000  76.100000     76.253521
USA       179.089783  180.305097   74.250000  74.666667     76.990712


Period    4modern
NOC
BEL     72.906977
CAN     80.692656
FIN     74.808677
HUN     76.789062
POL     74.923274
TCH     75.781250
USA     79.782609

In [58]:
df_FS = df[(df['Sex'] == 'F') & (df['Season'] == 'Summer')]
FS_stats = df_FS.groupby(['NOC','Period'])['Age','Height','Weight'].mean().unstack()
FS_stats.dropna(subset=[('Age', '2mid_early'),('Height','2mid_early'), ('Weight','2mid_early')]) #very few stats for 1

          Age                                     Height              \
Period 1early 2mid_early 3early_modern    4modern 1early  2mid_early
NOC
ARG       NaN  23.533333     19.044776  25.398892    NaN  163.866667
AUS       NaN  22.538462     20.470703  24.986501    NaN  171.538462
AUT       NaN  27.538462     21.785276  25.496000    NaN  167.846154
BRA       NaN  21.200000     21.071429  25.198356    NaN  169.200000
BUL       NaN  18.000000     21.803109  23.250000    NaN  160.666667
CAN       NaN  20.730769     20.410819  24.998165    NaN  167.000000
CHI       NaN  20.875000     24.111111  25.926471    NaN  172.250000
DEN       NaN  20.750000     23.421053  25.286842    NaN  167.500000
FIN      35.0  20.476744     23.211864  26.244526  165.0  164.209302
FRA      19.0  23.433333     22.207143  24.499640  160.0  167.200000
GBR       NaN  21.075000     22.078597  25.322002    NaN  164.962500
GER       NaN  23.154930     22.636364  25.662729    NaN  167.704225
HUN       NaN  23.470588     21.981949  23.702261    NaN  163.294118
ITA       NaN  19.071429     20.160465  24.964912    NaN  162.071429
JPN       NaN  20.333333     21.324074  23.620979    NaN  159.166667
LUX       NaN  19.500000     23.473684  27.833333    NaN  171.500000
MEX       NaN  26.500000     18.147601  23.951923    NaN  161.000000
NED       NaN  24.125000     20.925187  25.880979    NaN  174.250000
NOR       NaN  30.000000     19.805085  25.543333    NaN  167.000000
NZL       NaN  23.000000     21.450450  25.696078    NaN  176.000000
POL       NaN  22.939759     22.301619  25.104046    NaN  162.337349
POR       NaN  23.000000     22.348837  24.942584    NaN  164.000000
ROU       NaN  20.000000     22.078067  23.470504    NaN  179.000000
RSA       NaN  20.666667     19.666667  25.003077    NaN  168.888889
SAA       NaN  21.666667           NaN        NaN    NaN  159.666667
SUI       NaN  16.000000     20.093567  26.429630    NaN  170.000000
SWE       NaN  23.090909     20.773913  26.529874    NaN  170.090909
TCH       NaN  20.789474     21.249357  21.466667    NaN  162.631579
URS       NaN  24.772727     22.732181  22.904348    NaN  170.272727
URU       NaN  23.000000     16.250000  24.777778    NaN  162.000000
USA      22.5  21.247423     21.283859  25.749523  167.5  167.546392
YUG       NaN  20.937500     22.927711  23.000000    NaN  166.562500

                                 Weight
Period 3early_modern     4modern 1early 2mid_early 3early_modern    4modern
NOC
ARG       165.850746  167.706371    NaN  60.200000     59.597015  61.138504
AUS       166.437500  169.775378    NaN  60.000000     58.773438  62.271058
AUT       168.300613  171.020000    NaN  64.538462     61.631902  60.672000
BRA       168.928571  168.967112    NaN  65.400000     58.528571  60.942446
BUL       164.810881  168.239035    NaN  55.333333     58.002591  58.668860
CAN       166.573099  168.236697    NaN  56.384615     57.644737  60.825688
CHI       168.666667  165.014706    NaN  60.625000     63.666667  60.602941
DEN       169.236842  174.439474    NaN  55.500000     60.842105  65.168421
FIN       166.254237  170.054745  58.00  56.139535     57.088983  61.813869
FRA       165.264286  168.393655  45.00  57.933333     56.380952  58.945205
GBR       165.935913  169.471570    NaN  58.650000     58.503023  61.986403
GER       166.814050  172.350266    NaN  61.338028     59.975207  63.125517
HUN       165.877256  169.478643    NaN  58.470588     57.483755  60.609296
ITA       165.409302  168.898246    NaN  55.785714     56.079070  59.264912
JPN       159.712963  162.746154    NaN  53.000000     53.427778  55.044755
LUX       161.789474  166.388889    NaN  57.000000     57.368421  58.138889
MEX       161.653137  165.166667    NaN  56.500000     53.531365  58.413462
NED       169.723192  174.033370    NaN  64.687500     61.645885  64.686318
NOR       166.059322  171.920000    NaN  58.000000     56.127119  64.896667
NZL       168.261261  170.607843    NaN  65.000000     61.783784  65.294118
POL       164.070850  170.968208    NaN  56.987952     57.504049  62.758671
POR       160.720930  164.688995    NaN  63.000000     55.627907  55.990431
ROU       164.211896  168.212950    NaN  85.000000     57.386617  59.516547
RSA       162.500000  168.984615    NaN  62.333333     61.333333  61.809231
SAA              NaN         NaN    NaN  55.000000           NaN        NaN
SUI       164.251462  169.503704    NaN  56.000000     53.836257  59.377778
SWE       167.884058  172.297170    NaN  63.090909     58.156522  63.817610
TCH       163.447301  169.544444    NaN  59.789474     56.982005  59.827778
URS       166.425486  169.947826    NaN  68.409091     60.696544  62.621739
URU       163.100000  166.944444    NaN  65.000000     58.900000  59.500000
USA       167.634508  170.441390  64.75  57.381443     58.667904  63.318442
YUG       168.783133  176.288889    NaN  59.875000     61.120482  66.222222

In [59]:
df_FW = df[(df['Sex'] == 'F') & (df['Season'] == 'Winter')]
FW_stats = df_FW.groupby(['NOC','Period'])['Age','Height','Weight'].mean().unstack()
FW_stats.dropna(subset=[('Age', '2mid_early'),('Height','2mid_early'), ('Weight','2mid_early')]) #very few stats for 1

          Age                                     Height              \
Period 1early 2mid_early 3early_modern    4modern 1early  2mid_early
NOC
AUT       NaN  21.000000     20.944444  24.877966    NaN  162.000000
CAN       NaN  24.000000     20.346734  25.470440    NaN  165.000000
FIN      39.0  28.666667     25.088889  25.965217  165.0  163.833333
GER       NaN  29.000000     22.171875  26.005764    NaN  155.000000
HUN       NaN  21.000000     21.500000  22.353383    NaN  158.000000
ITA       NaN  17.000000     20.792683  25.177083    NaN  177.000000
NOR      11.0  19.000000     23.252252  26.463889  155.0  155.000000
POL       NaN  24.000000     24.226562  25.041667    NaN  169.000000
USA       NaN  21.538462     21.398340  25.013889    NaN  168.769231

                                 Weight
Period 3early_modern     4modern 1early 2mid_early 3early_modern    4modern
NOC
AUT       168.388889  167.613559    NaN  50.000000     61.922222  61.623729
CAN       164.592965  168.093082    NaN  59.000000     58.748744  62.677358
FIN       165.422222  167.217391   58.0  57.250000     57.659259  60.331884
GER       164.796875  168.229107    NaN  52.000000     58.625000  61.280980
HUN       163.050000  169.624060    NaN  48.000000     59.300000  62.157895
ITA       164.158537  166.102431    NaN  68.000000     56.329268  58.572917
NOR       169.801802  170.450000   45.0  45.000000     60.468468  61.861111
POL       163.789062  167.680556    NaN  54.000000     60.250000  58.086806
USA       164.290456  166.466880    NaN  58.692308     56.294606  61.681624